* {
    box-sizing: border-box;
}

.left {
    background-color: #2196f3;
    padding: 20px;
    float: left;

    /* default width */
    width: 20%;
}

.main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;

    /* default width */
    width: 60%;
}

.right {
    background-color: #04aa6d;
    padding: 20px;
    float: left;

    /* default width */
    width: 20%;
}

/* media queries */

/* desktop */
@media screen and (min-width: 1024px) {
    .left, .main, .right {
        width: 100%;
        height: 0;
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main {
        position: fixed;
        width: 100%;
        top: 100px;
    }

    .left {
        position: relative;
        width: 50%;
        top: 100px;
    }

    .right {
        position: relative;
        width: 50%;
        top: 100px;
        left: 1px;
    }
}